<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023925943500-bifvtrm9ouq9b0j67tijvih4d05oba8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023925943500-bifvtrm9ouq9b0j67tijvih4d05oba8k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1023925943500-fkf57nv99ieq8qpkdp21mf09al3kkc92.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAQ8M13bgTQEGwiouHlr8zJrwg6BDref8</string>
	<key>GCM_SENDER_ID</key>
	<string>1023925943500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techveda.poster</string>
	<key>PROJECT_ID</key>
	<string>poster-6e6e4</string>
	<key>STORAGE_BUCKET</key>
	<string>poster-6e6e4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023925943500:ios:056f0a4acfc1aba4661669</string>
</dict>
</plist>